body {
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 200px;
  height: 200px;
  /* background-color: rgb(164, 212, 6); */
  background-color: rgb(240, 237, 50);
  position: relative;
}

/* vase */
.container > div:first-child {
    position: absolute;
    z-index: 99; /* top of stack to position at top*/
    width: 100px;
    height: 50px;
    background-color: rgb(226, 43, 119);
    transform: translate(50px, 145px);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

/* branch 1 */
/* .container > div:nth-child(2) {
  width: 3px;
  height: 50px;
  background-color: rgb(110, 78, 36);
  position: absolute;
  transform: translate(120px, 120px) rotate(90deg);
  border-radius: 0 50% 50% 50%;
  transition: 2000ms;
} */

/* branch 1  hover */
/* .container:hover > div:nth-child(2) {
  transform: translate(120px, 54px) rotate(45deg);
} */



/* branch 2 */
/* .container > div:nth-child(3) {
  width: 3px;
  height: 50px;
  background-color: rgb(110, 78, 36);
  position: absolute;
  transform: translate(85px, 15px) rotate(-90deg);
  border-radius: 0 50% 50% 50%;
  transition: 2000ms;
} */

/* branch 2 hover */
/* .container:hover > div:nth-child(3) {
  transform: translate(85px, 4px) rotate(-45deg);
} */

/* leaf 3 (middle) */
.container > div:nth-child(3) {
  width: 40px;
  height: 40px;
  background-color: rgb(110, 78, 36);
  position: absolute;
  transform: translate(80px, 100px) rotate(45deg);
  bottom: 105px;
  border-radius: 0 50% 50% 50%;
  transition: 2000ms;
}
/* leaf 3 hover */
.container:hover > div:nth-child(3) {
  background-color:rgb(48, 204, 48);
  transform: translate(80px, 55px) rotate(45deg);
}


/* leaf 1 */
.container > div:nth-child(4) {
  width: 40px;
  height: 40px;
  background-color: rgb(110, 78, 36);
  position: absolute;
  transform: translate(60px, 70px) rotate(-35deg);
  bottom: 105px;
  border-radius: 0 50% 50% 50%;
  transition: 2000ms;
}

/* leaf 1 hover */
.container:hover > div:nth-child(4) {
  background-color: rgb(48, 204, 48);
  transform: translate(60px, 55px) rotate(0deg);
}

/* leaf 2 */
.container > div:nth-child(5) {
  width: 40px;
  height: 40px;
  background-color: rgb(110, 78, 36);
  position: absolute;
  transform: translate(100px, 65px) rotate(125deg);
  bottom: 100px;
  border-radius: 0 50% 50% 50%;
  transition: 2000ms;
}

/* leaf 2 hover*/
.container:hover > div:nth-child(5) {
  background-color: rgb(48, 204, 48);
  transform: translate(100px, 50px) rotate(90deg);
}

/* drop */
.container > div:nth-child(6) {
  width: 10px;
  height: 10px;
  background-color: rgb(109, 172, 231);
  position: absolute;
  transform: translate(120px, 0px) rotate(45deg);
  bottom: 150px;
  border-radius: 0 50% 50% 50%;
  transition: 200ms;
  /* transition-delay: 200ms;  */
}

/* drop hover*/
.container:hover > div:nth-child(6) {
  /* position: relative; */
  /* transform: translate(120px, 90px) rotate(45deg); */
  /* bottom: 150px; */
  border-radius: 0 50% 50% 50%;
  /* animation-iteration-count: infinite; */
  animation: movedown 1s infinite;
}

@keyframes movedown {
  from {top: 50px;}
  to {top: 120px;}
}